@import "variables";
@import "mixin";

.billingContainer {
  @include container;
  text-align: center;
  overflow-y: scroll;
  padding: 1rem 0;
  max-height: max-content;

  .requestsContainer {
    margin-bottom: 4rem;
  }

  ion-card-title, {
    font-size: 18px;
    color: black;
    font-weight: 600;
  }

  .approved {
    cursor: pointer;
    padding: 1rem;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px 0 0 15px;
  }

  .pending {
    border-style: solid;
    border-width: thin;
    border-color: black;
    cursor: pointer;
    width: 50%;
    font-size: 14px;
    padding: 1rem;
    font-weight: 600;
    border-radius: 0 15px 15px 0;
  }

  .active {
    background-color: black;
    color: white;
  }

  .inActive {
    background-color: white;
    color: black;
  }
}