@import "mixin";
@import "variables";

.dashboard {
  padding: 1.2rem;
  overflow-x: hidden;
  background-color: $body-bg1;
  min-height: 100vh;

  .header {
    @include flexCenter;
    justify-content: space-between;

    .notification {
      ion-badge {
        position: relative;
        z-index: 100;
        margin-bottom: 1.5rem;
        margin-right: -1.2rem;
        background-color: black;
      }

      ion-icon {
        font-size: 40px;
      }
    }
  }

  .dashboardTitle {
    margin: 2rem 0 0 0;

    Ion-card-title {
      font-size: 40px;
    }

    Ion-card-subtitle {
      text-transform: capitalize;
    }

    ion-icon {
      font-size: 10vh;
      font-weight: 800;
      @include centerItemsAbsolute;
    }

    .requestStatus {
      text-align: center;
      @include centerItemsAbsolute;
      margin-top: 5rem;
      p{
        width: 100vw;
      }
    }
  }
}


.notificationHeader {
  margin-top: 2vh;
  padding: 1rem;
  @include flexCenter;
  justify-content: space-between;
}