@import "variables";

.infoContainer {
  overflow: scroll;
  padding: 2rem 1.7rem;
  background-color: #eeeeee;

  ion-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 22;
    font-size: 35px;
  }

  .faq {
    padding: 1rem;
    background-color: #eeeeee !important;
    white-space: pre-line;
  }
}

