@import "variables";
@import "mixin";

.notificationContainer {
  height: 100vh;
  overflow: scroll;
  padding: 1.4rem;


  .notificationHeader {
    margin-top: 2vh;
    padding: 1rem;
    @include flexCenter;
    justify-content: space-between;

    ion-icon {
      font-size: 35px;
    }
  }

  .notifications {
    background-color: white;
    border: 1px solid $borderColor;
    border-radius: 10px;
    padding: 1rem;
    color: #2d2d2d;

    .hourGlass {
      position: absolute;
      left: 4%;
      top: 20%;

      ion-icon {
        font-size: 35px;
      }
    }

    ion-icon {
      float: right;
      font-size: 25px;
    }

    h2{
      font-size: 20px;
    }
    h3{
      font-size: 18px;
    }
  }
  .rejected{
    border: 1px solid red;
    background-color: rgba(255,0,0,.1);
  }
}
