@import "variables";
@import "mixin";

.login {
    min-height: 100vh;
    max-height: 200vh;
    background-color: $body-bg1;
}

.login-box {
    @include centerItemsAbsolute();
    p {
        font-size: 1.7vh;
        line-height: 1;
        color: $theme;
        margin-left: 7%;
        margin-bottom: 1vh;
        width: 90vw;
    }
    form{
        label{
            color: grey;
            margin: 0 1rem 0 0;
            font-size: 1.6vh;
        }
        input {
            display: grid;
            grid-template-columns: auto;
            padding: 1rem;
            margin: 0 1.1rem 1.1rem 0;
            width: 82vw;
            font-size: 2vh;
            border-radius: 20px;
            border: 1px solid black;
            color: black;
        }

        .enabled {
            background-color: #000000;
            cursor: pointer;
            color: white;
            width: 82vw;
            margin: 0 1.1rem 1.1rem 0;
        }

        .disabled {
            width: 82vw;
            background-color: #000000;
            color: white;
            cursor: none;
            margin: 0 1.1rem 1.1rem 0;
            border: 2px solid black;
        }
    }
}

