@import "variables";
@import "mixin";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: auto 0;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */

  ion-img{
    width: 300px;
    height: 76px;
    margin-bottom: 20px; /* Add some space below the image */
  }

  ion-card-title {
    margin: 6% 1%;
    font-size: 2rem;
    font-weight: 700;
  }
}

.login-box {
  /* Remove absolute positioning and let flexbox handle centering */


  p {
    font-size: 1.7vh;
    line-height: 1;
    color: $theme;
    margin-left: 7%;
    margin-bottom: 1vh;
    width: 90vw;
  }

  form {
    @include formStyle(82vw, 0);
  }

}

