@import "mixin";
@import "variables";

.request {
  margin-top: 5vh;
  margin-bottom: -3vh;

  .card {
    color: black;
    padding: 4px 4px 4px 15px;
    border-radius: 10px;
    border: 1px solid $borderColor;
  }

  .cardError {
    color: black;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, .1);
    border: 1px solid red;
  }
}