@import "mixin";
@import "variables";


.modal{
  --background: transparent;
  .modalHeader{
    margin: 2vh;
  }
}
.cancelUpload{
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: black;
  margin-left: 25px;
  position: absolute;
  bottom: 40px;
}


.request {
  text-align: left;
  .card {
    color: black;
    background-color: white;
    padding: 4px 4px 4px 15px;
    border-radius: 15px;
    border: 1px solid $borderColor;
  }

  .cardError, .cardYellow {
    color: black;
    padding: 4px 4px 4px 15px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, .1);
    border: 1px solid red;
  }

  .cardYellow{
    background-color: rgba(255, 251, 0, .1);
    border: 1px solid #fffb00;
  }

  .card, .cardError, .cardYellow {
    h2{
      font-weight: 600;
      font-size: 16px;
      width: 100%;
    }
    h3{
      font-size: 14.5px;
      font-weight: 600;
    }
    p{
      font-size: 13px;
      font-weight: 600;
      color: #464646;
    }
  }

  ion-icon{
    font-size: 43px;
    float: right;
    padding: 1rem .3rem 0 .3rem;
  }
}