@import "mixin";
@import "variables";

.uploadContainer {
  overflow-y: scroll;
  text-align: center;
  margin-top: 50vh;

  ion-card ,input{
    padding: 1rem;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    color: black;
  }

  ion-button{
    padding: 0;
    font-weight: 600;
  }

  input{
    background-color: white;
  }
  .send {
    background-color: black;
    padding: 0;
  }
}