@import "mixin";
@import "variables";

.uploadContainer {
  overflow-y: scroll;
  margin-top: 1%;
  text-align: center;

  ion-card ,input{
    padding: 1rem;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    color: black;
  }

  input{
    background-color: white;
  }

  .uploadedImage {
    height: 30vh;
    margin-bottom: 5vh;
  }

  .hideImageSection {
    opacity: 0;
    margin-top: 40vh;
  }

  .send {
    background-color: #27b67f;
  }
}