@import "variables";
@import "mixin";

.profileContainer {
  text-align: center;

  ion-avatar {
    @include centerHorizontal;
    width: 130px;
    height: 130px;
  }

  ion-icon {
    font-size: 55px;
    position: relative;
    margin-bottom: -9.7rem;
    margin-left: 4rem;
    z-index: 100;
    background-color: white;
    border-radius: 50%;
  }
}

.userName {
  padding: 0 1rem;
  text-align: center;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    margin-top: -.5rem;
  }
}